<mat-sidenav-container class="all-wrap">
  <mat-sidenav #sidenav over>
    <mat-list>
      <mat-list-item>
          Dashboards
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrap">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.open()">
          X
        </button>
        <span><h1>Healthweb</h1></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
