<ng-template [ngIf]="(dashboard | async) != null" [ngIfElse]="unfound">
  <p>
    <span class="name" [matBadge]="(dashboard | async)?.healthchecks?.length" [matTooltip]="(dashboard | async)?.description" matTooltipPosition="below">{{(dashboard | async)?.name}}&nbsp;</span>
    <i *ngIf="(dashboard | async)?.archived"><u>This dashboard has been archived, and will be removed sooner or later.</u></i>
    <span *ngIf="(dashboard | async)?.description">&nbsp;&quot;{{trunkString((dashboard | async)?.description)}}&quot;</span>
    <span class="pull-right">
      <button mat-raised-button (click)="toggleHideHealthy()">{{filter.hideHealthy ? 'Show' : 'Hide'}} Healthy</button>
      <button mat-raised-button (click)="deleteSelected()" [disabled]="!anySelected()" color="warn">Delete selected</button>
      <a mat-raised-button [routerLink]="['./settings']">Settings</a>
    </span>
  </p>

  <table mat-table [dataSource]="datasource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let hc"> <a [routerLink]="['/healthcheck', hc?.id]">{{hc?.id}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> URL</th>
      <td mat-cell *matCellDef="let hc"><a [href]="hc?.url" target="_blank">{{hc?.url}}</a></td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let hc"> {{hc?.status}} </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Select</th>
      <td mat-cell *matCellDef="let hc">
        <mat-slide-toggle [(ngModel)]="selection[hc.id]"></mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let hc; columns: displayedColumns;" (click)="toggleSelect(hc.id)" [ngClass]="statusClass(hc?.status)"></tr>
  </table>
</ng-template>
<ng-template #unfound>
  <mat-progress-spinner></mat-progress-spinner>
  Unable to find dashboard.
  <a mat-raised-button color="warn" routerLink="/">Take me Home</a>
</ng-template>
