<ng-template [ngIf]="getDashboard() != null" [ngIfElse]="unfound">
  <h1 >{{getDashboard()?.name}}</h1>
  <h2 *ngIf="getDashboard()?.archived">This dashboard has been archived, and will be removed sooner or later.</h2>
  <h2>{{getDashboard()?.description}}</h2>
  <a mat-raised-button [routerLink]="['./settings']">Settings</a>

  <app-health-check *ngFor="let hc of getDashboard()?.healthchecks" [id]="hc"></app-health-check>
</ng-template>
<ng-template #unfound>
  Unable to find dashboard.
  <a mat-raised-button color="warn" routerLink="/">Take me Home</a>
</ng-template>
