<span class="header">Dashboards</span>
<span class="newForm">
  <button mat-mini-fab *ngIf="!addFormShow" (click)="addFormShow=true"><b>+</b></button>
  <ng-container *ngIf="addFormShow">
    Add new
    <mat-divider vertical="true">
    </mat-divider>
    <mat-form-field>
      <input #name matInput placeholder="Name">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="saveNew(name.value)" [disabled]="addButtonDisabled">Save</button>
  </ng-container>
</span>

<table mat-table [dataSource]="dashboardService.getArr() | async">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let hc"> {{hc?.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let hc"><a [routerLink]="['dashboard',hc?.id]">{{hc?.name}}</a></td>
  </ng-container>

  <ng-container matColumnDef="watched">
    <th mat-header-cell *matHeaderCellDef> Watched</th>
    <td mat-cell *matCellDef="let hc"> {{hc?.healthchecks?.length}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
