/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@include mat-core();

html, body {
  height: 100%;
}

$primary: $mat-blue;
$accent: $mat-light-green;
$warn: $mat-red;

$theme: mat-dark-theme(
    mat-palette($primary),
    mat-palette($accent),
    mat-palette($warn));

body {
  @include angular-material-theme($theme);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-row {
  $myColor: mat-color(map-get($theme, background), 'card');
  $redness: 25%;
  $darkness: 3%;
  &:nth-child(odd) {
    $myDarker: darken($myColor, $darkness);
    &.row_warn {
      background-color: scale-color($myDarker, $red: $redness);
    }
    &:not(.row_warn) {
      background-color: $myDarker;
    }
  }
  &:nth-child(even) {
    &.row_warn {
      background-color: scale-color($myColor, $red: $redness);
    }
    &:not(.row_warn) {
      background-color: $myColor;
    }
  }
}
